<ion-view title="About Us" id="page4">
   <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
         </ion-nav-back-button>
            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button>
            </ion-nav-buttons>
          </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>
  <ion-content padding="true" class="has-header" style="background-color:#efefef;">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
    </div>
    <br>
    <br>

    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="aboutUs-slider1" style="width:100%;height:220px;">
     <ion-slide-page id="aboutUs-slide23">
         <ion-list>
          <ion-item>
           <h3 style="text-align: justify; background-color: white; text-align: center; font-size: 14px;">
            <br>
            <b>HYDROTECTO</b> is an IoT system that sends<br>early warning to its user when water reaches<br>the set particular unsafe level. With this<br>assistance, precautions and preparations<br>will be observed  to keep the user warned<br>and safe.
            <br> 
      It contains multiple features like safety<br>tips for  when it's safe and unsafe, rainfall<br>detectiontips, access to Open Weather API, current  weather can also be monitored when connected to internet.
      </h3>
          </ion-item>
        </ion-list>
      </ion-slide-page>
            <br>
            <br>
            <br>
            <br>
            <br>   
      <ion-slide-page id="aboutUs-slide24">
        <ion-list id="aboutUs-list2">
          <ion-item class="item item-thumbnail-left" id="aboutUs-list-item6">
            <img src="img/kris.jpg" style="display: block; width: 280px; height: 100px; top:15px; left:20px; border-radius:50%; margin-top: 15px;">
            <h3 style="font-style:italic; text-align: center; font-size:20px; top:10px; margin-top: 20px;"><strong>Kris Azucenas</strong></h3>
            <h3 style="text-align: center;">Researcher and Analyst</h3>
            <h3 style="text-align: center;">BSCS-3rd Year</h3>
            <h3 style="text-align: center;">kris.azucenas31@gmail.com</h3>
            <h3 style="text-align: center;">09277172201</h3>
            <center><a href="https://m.facebook.com/kris.azucenas1" style="white-space:normal;"><i class="ion-social-facebook" style="color: #3b5998; font-size: 40px; border-radius: 30px;"></i></div></a>
            <a href="https://m.twitter.com/krisdfghjkl" style="white-space:normal;"><i class="ion-social-twitter" style="color: #3b5998; font-size: 40px; border-radius: 30px;"></i></div></a></center>
          </ion-item>
        </ion-list>
      </ion-slide-page>
      <ion-slide-page id="aboutUs-slide25">
        <ion-list id="aboutUs-list4">
        <ion-item class="item item-thumbnail-left" id="aboutUs-list-item8">
            <img src="img/john.jpg" style="display: block; width: 280px; height: 100px; top:15px; left:20px; border-radius:50%; margin-top: 14px;">
            <h3 style="font-style:italic; text-align: center; font-size:20px; top:10px; margin-top: 20px;"><strong>John Louis Coloma</strong></h3>
            <h3 style="text-align: center;">Developer</h3>
            <h3 style="text-align: center;">BSCS-3rd Year</h3>
            <h3 style="text-align: center;">colomajohlouis@yahoo.com</h3>
            <h3 style="text-align: center;">09187548134</h3>
            <center><a href="https://m.facebook.com/johnlouis.coloma" style="white-space:normal;"><i class="ion-social-facebook" style="color: #3b5998; font-size: 40px; border-radius: 30px;"></i></div></a>
            <a href="https://m.twitter.com/jLcolomx" style="white-space:normal;"><i class="ion-social-twitter" style="color: #3b5998; font-size: 40px; border-radius: 30px;"></i></div></a></center>
          </ion-item>
        </ion-list>
      </ion-slide-page>
      <ion-slide-page id="aboutUs-slide26">
        <ion-list id="aboutUs-list5">
            <ion-item class="item item-thumbnail-left" id="aboutUs-list-item9">
            <img src="img/richard.jpg" style="display: block; width: 280px; height: 100px; top:15px; left:20px; border-radius:50%; margin-top: 14px;">
            <h3 style="font-style:italic; text-align: center; font-size:20px; top:10px; margin-top: 20px;"><strong>Richard Samson</strong></h3>
            <h3 style="text-align: center;">Developer</h3>
            <h3 style="text-align: center;">BSCS-3rd Year</h3>
            <h3 style="text-align: center;">samsonrichard@yahoo.com</h3>
            <h3 style="text-align: center;"> 09062682186</h3>
            <center><a href="https://m.facebook.com/ichard123" style="white-space:normal;"><i class="ion-social-facebook" style="color: #3b5998; font-size: 40px; border-radius: 30px;"></i></div></a>
            <a href="https://m.twitter.com/chard_samson" style="white-space:normal;"><i class="ion-social-twitter" style="color: #3b5998; font-size: 40px; border-radius: 30px;"></i></div></a></center>
          </ion-item>
        </ion-list>
      </ion-slide-page>
    </ion-slides>
          <form id="aboutUs-form1" class="list"><br><br>
            <center><img src="img/logo.png" style="display: block; width: 160px; height: 35px;margin-left: auto; margin-right: auto; margin-top: 40px;" ></center>
            <center><p>© 2017 Hydrotecto. All rights reserved</p></center>
          </form>
      
  </ion-content>
</ion-view>