<ion-view>
    <ion-nav-bar class="bar-light">
        <ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
  <ion-nav-back-button>
</ion-nav-back-button>


  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>

    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;"></div>
    <br>
    <br>
    <br>

     <img src="img/logo.png" style="display: block; width: 170px; height: 40px;margin-left: auto; margin-right: auto; margin-top: 150px;" >

     <center>
          <a ui-sref="menu.monitor" id="hydrotecto-button1" style="font-size:16px;border-radius:63px 63px 63px 63px; width: 15em; height: 0em;" class="button button-positive  button-block icon ion-android-arrow-dropright-circle"> Get Started</a>
     </center>
     
  </ion-content>
</ion-view>