<ion-view id="page1" style="background-color:#FFFFFF;">
  <ion-tabs class="tabs-positive tabs-icon-top" id="menu-tabs1">
    <ion-tab title="Home" icon="ion-android-home" href="#/page1/page5" id="menu-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Daily Weather" icon="ion-ios-cloud" href="#/page1/page3" id="menu-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="About Us" icon="ion-ios-contact" href="#/page1/page4" id="menu-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>