<ion-view title="Tips" id="page6">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
      </ion-nav-back-button>
        <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
          </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>

    <ion-content padding="true" class="has-header" style="background-color:#efefef;">

<div class="cont1">
  <div class="padd">
    <p style="text-align:justify"> 
  <font size="3">

<h3>
<p><h3><i class="icon ion-help-circled" md="md-help-circle"></i> Tips:</h3></p>
<br>
<b>Tip 1:</b>
Move immediately to higher ground or stay on high ground.
<br>
<br>
<b>Tip 2:</b> <br>Evacuate if directed.
<br>
<br>
<b>Tip 3:</b> <br>Avoid walking or driving through flood waters. Turn Around, Don’t Drown! Just 6 inches of moving water can knock you down and 1 foot of water can sweep your vehicle away.
<br>
<br>
<b>Tip 4:</b> <br>Build or restock your emergency preparedness kit. Include a flashlight, batteries, cash, and first aid supplies.
<br>
<br>
<b>Tip 5:</b> <br>If instructed, turn off your gas and electricity at the main switch or valve. This helps prevent fires and explosions.</div></h3></font></p></div>

  </ion-content>
</ion-view>